blinker==1.8.2
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
pycryptodomex==3.20.0
requests==2.32.3
urllib3==2.2.2
websockets==13.0.1
Werkzeug==3.0.4
youtube-dl==2021.12.17
yt-dlp==2024.8.6
yt-dlp-youtube-oauth2 @ https://github.com/coletdjnz/yt-dlp-youtube-oauth2/archive/refs/heads/master.zip#sha256=771a515fe2be3dcaec55b754f6b6b0872dc7e7bef1261bac630998ee700253b7
gunicorn==21.2.0